.about-section {
    padding: 4rem 4rem;
}

.about-heading {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding: 0rem 0rem 0rem 8rem;
}

.cap-letter {
    font-size: 75px;
}

.about-heading::before {
    content: "";
    height: 2px;
    width: 220px;
    background-color: #cbcbcb;
    position: absolute;
    top: 76px;
    left: -107px;
}

.information {
  text-align: center;
  color: #cbcbcb;
  font-size: 1rem;
  padding: 2rem 0rem;
}


@media screen and (max-width: 767px) {
  .about-section{
    padding: 2rem 0rem;
  }
  .about-heading {
    padding: 0;
    text-align: center    ;
  }
  .about-heading::before {
    top: 95px;
    left: 7rem;
  }
}

@media screen and (max-width: 575px) {
  .about-heading::before {
   display: none;
  }
}